    	<div class="container">
			<div class="row">
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">방문해주셔서 감사합니다!</h3>
					<h5 class="light regular light-white">문의사항이 있다면 언제든 연락주세요</h5><br>
					<h5 class="light regular light-white">카톡 hotplay</h5>
					<h5 class="light regular light-white">http://1ilsang.blog.me</h5>
				</div>
				<div class="col-sm-6 text-center-mobile">
					<h3 class="white">Opening Hours <span class="open-blink"></span></h3>
					<div class="row opening-hours">
						<div class="col-sm-6 text-center-mobile">
							<h5 class="light-white light">Mon - Fri</h5>
							<h3 class="regular white">9:00 - 22:00</h3>
						</div>
						<div class="col-sm-6 text-center-mobile">
							<h5 class="light-white light">Sat - Sun</h5>
							<h3 class="regular white">10:00 - 18:00</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row bottom-footer text-center-mobile">
				<div class="col-sm-8">
					<p>&copy; 2017 All Rights Reserved. Powered by <a href="http://1ilsang.blog.me/">LEE</a> exclusively for <a href="http://tympanus.net/codrops/">Codrops</a></p>
				</div>
				<div class="col-sm-4 text-right text-center-mobile">
					<ul class="social-footer">
						<li><a href="http://www.facebook.com/dlehdlcl"><i class="fa fa-facebook"></i></a></li>
					</ul>
				</div>
			</div>
		</div>