<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./scriptMetaLink %>
</head>
<body>
   <div class="preloader">
		<img src="img/loader.gif" alt="Preloader image">
	</div>
	
    <header id="">
        <br>
        <div class="">
				<ul class="nav navbar-nav navbar-right main-nav">
					<li><a href="/">Main</a></li>
					<li><a href="/#services">Services</a></li>
					<li><a href="/#start">Start</a></li>
					<li><a href="/#team">Team</a></li>
					<li><a href="#">&nbsp;&nbsp;&nbsp;</a></li>
				</ul>
		<!-- /.container-fluid -->
	    </div>
	    <div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1 class="white typed">해당 범위에 데이터가 없네요 ㅠㅠ!</h1>
							<span class="typed-cursor">|</span>
							<h3 class="light white"><a href="/map">다시 검색하기</a></h3>
							<br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
    
    <footer>
	    <% include ./footer %>
	</footer>
    
</html>
</body>